@import 'bootstrap';

body {
    padding-top: 5rem;
    margin: 0;
}

iframe {
    display: block;
    border: none;
    height: 100vh;
    width: 100vw;
}

.badge {
    line-height: unset !important;
}
